@media screen and (max-width: 820px) {
  #banner {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url("../images/banner.jpg");
    position: relative;
    height:  auto;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
  }
  .avatar {
    display: none;
    margin-left: 20px;
  }
  #nav-bar {
    gap: 0px;
  }
  #nav-bar .nav {
    border-right: 1px solid rgb(219, 214, 214);
    border-left: 1px solid rgb(219, 214, 214);
  }
  #nav-bar #certificate {
    margin-left: 50px;
  }

  #job-info .container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #job-info .container .header h1{
    padding-top: 30px;
  }
  #job-info .container .grid {
    padding: 0px;
    align-items: center;
  }
  #certificate .content {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  #certificate .content .grid {
    display: block;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 90px;
  }
  #project .content {
    justify-content: center;
    overflow: hidden;
    gap: 20;
  }
  #project .content img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 40%;
    min-height: min-content;
    min-width: 30%;
  }
  #project .content .content-project{
    margin: 0px 0px 0px 0px;
  }
  #job-info .container .header {
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 40px;
  }
  #job-info .container #habits .content {
    display: grid;
    grid-template-columns: 32% 32% 32%;
  }
  #job-info .container #habits .content .habit p{
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #job-info .container #habits .content .habit i{
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }
}
